In [2]:
from datetime import datetime, timezone
from dateutil import parser
from nba_api.live.nba.endpoints import scoreboard

f = "{gameId}: {awayTeam} vs. {homeTeam} @ {gameTimeLTZ}" 

board = scoreboard.ScoreBoard()
print("ScoreBoardDate: " + board.score_board_date)
games = board.games.get_dict()
for game in games:
    gameTimeLTZ = parser.parse(game["gameTimeUTC"]).replace(tzinfo=timezone.utc).astimezone(tz=None)
    print(f.format(gameId=game['gameId'], awayTeam=game['awayTeam']['teamName'], homeTeam=game['homeTeam']['teamName'], gameTimeLTZ=gameTimeLTZ))

ScoreBoardDate: 2022-10-24
0022200044: Pacers vs. 76ers @ 2022-10-24 19:00:00-04:00
0022200045: Raptors vs. Heat @ 2022-10-24 19:30:00-04:00
0022200046: Magic vs. Knicks @ 2022-10-24 19:30:00-04:00
0022200047: Celtics vs. Bulls @ 2022-10-24 20:00:00-04:00
0022200048: Jazz vs. Rockets @ 2022-10-24 20:00:00-04:00
0022200049: Nets vs. Grizzlies @ 2022-10-24 20:00:00-04:00
0022200050: Spurs vs. Timberwolves @ 2022-10-24 20:00:00-04:00
0022200051: Nuggets vs. Trail Blazers @ 2022-10-24 22:00:00-04:00

In [14]:
from nba_api.stats.endpoints import playercareerstats
import pandas
import numpy
from plotly.offline import plot
from plotly.graph_objs import Scatter
#for a player like nikola jokic
career = playercareerstats.PlayerCareerStats(player_id='203999').get_data_frames()[0]
career = pandas.DataFrame(career)
career.pop("PLAYER_ID")
career.pop("TEAM_ID")
career.pop("LEAGUE_ID")
career.columns=['Season', 'Team', 'Age', 'GP', 'GS', 'Min', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA',
       'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF','PTS']
ppg = []
for i in range(len(career['PTS'])):
       ppg+=[career['PTS'][i]/career['GP'][i]]
career['PPG']=ppg
season = [row for row in career['Season']]
values = [round(row, 2) for row in career['PPG']]
plot_div = plot([Scatter(x=season, y=values,
                mode='lines', name='PPG by Season', opacity=1, marker_color='red')], output_type='div')

AttributeError: 'str' object has no attribute 'show'

In [1]:
from nba_api.stats.static import players
player_list = players.find_players_by_full_name('Jayson Tatum')
player_list

[{'id': 1628369,
  'full_name': 'Jayson Tatum',
  'first_name': 'Jayson',
  'last_name': 'Tatum',
  'is_active': True}]

In [1]:
from nba_api.stats.endpoints import playercareerstats
import pandas
import numpy
from plotly.offline import plot
from plotly.graph_objs import Scatter
#for a player like nikola jokic
career = playercareerstats.PlayerCareerStats(player_id='203999').get_data_frames()[0]
career = pandas.DataFrame(career)
career
# career.pop("PLAYER_ID")
# career.pop("TEAM_ID")
# career.pop("LEAGUE_ID")
# career.columns=['Season', 'Team', 'Age', 'GP', 'GS', 'Min', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA',
#        'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF','PTS']
# ppg = []
# tov = []
# for i in range(len(career['PTS'])):
#        ppg+=[career['PTS'][i]/career['GP'][i]]
#        tov += [round(career['TOV'][i]/career['GP'][i], 2)]

# career['TOV'] = tov
# career['TOV']

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,203999,2015-16,00,1610612743,DEN,21.0,80,55,1733.0,307,...,0.811,181,379,560,189,79,50,104,208,796
1,203999,2016-17,00,1610612743,DEN,22.0,73,59,2038.0,494,...,0.825,212,506,718,359,61,55,171,214,1221
2,203999,2017-18,00,1610612743,DEN,23.0,75,73,2443.0,504,...,0.850,195,608,803,458,90,61,210,212,1385
3,203999,2018-19,00,1610612743,DEN,24.0,80,80,2504.0,616,...,0.821,228,637,865,580,108,55,248,228,1604
4,203999,2019-20,00,1610612743,DEN,25.0,73,73,2335.0,565,...,0.817,166,545,711,512,85,44,226,222,1456
5,203999,2020-21,00,1610612743,DEN,26.0,72,72,2488.0,732,...,0.868,205,575,780,599,95,48,222,192,1898
6,203999,2021-22,00,1610612743,DEN,27.0,74,74,2476.0,764,...,0.810,206,813,1019,584,109,63,281,191,2004
7,203999,2022-23,00,1610612743,DEN,27.0,12,12,376.0,99,...,0.875,20,97,117,102,16,8,39,35,262

In [26]:
res = "Jayson Tatum"
first_name = res.split(" ")[:1][0]
last_name = res.split(" ")[1:][0]
string = f"https://nba-players.herokuapp.com/players/{last_name}/{first_name}"
string

'https://nba-players.herokuapp.com/players/Tatum/Jayson'